<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uranus.platform.business.pub.dao.PrdtBaseDataMapper">
  <resultMap id="BaseResultMap" type="com.uranus.platform.business.pub.entity.po.PrdtBaseData">
    <id column="PRDT_ID" jdbcType="VARCHAR" property="prdtId" />
    <result column="PRDT_NO" jdbcType="VARCHAR" property="prdtNo" />
    <result column="BR_NO" jdbcType="VARCHAR" property="brNo" />
    <result column="BR_ACC_TYPE" jdbcType="VARCHAR" property="brAccType" />
    <result column="PRDT_NAME" jdbcType="VARCHAR" property="prdtName" />
    <result column="BEG_DATE" jdbcType="VARCHAR" property="begDate" />
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
    <result column="MIN_AMT" jdbcType="DECIMAL" property="minAmt" />
    <result column="MAX_AMT" jdbcType="DECIMAL" property="maxAmt" />
    <result column="MIN_MON" jdbcType="DECIMAL" property="minMon" />
    <result column="MAX_MON" jdbcType="DECIMAL" property="maxMon" />
    <result column="MIN_RATE" jdbcType="DECIMAL" property="minRate" />
    <result column="MAX_RATE" jdbcType="DECIMAL" property="maxRate" />
    <result column="OP_NO" jdbcType="VARCHAR" property="opNo" />
    <result column="TX_DATE" jdbcType="VARCHAR" property="txDate" />
    <result column="UP_OPNO" jdbcType="VARCHAR" property="upOpno" />
    <result column="UP_DATE" jdbcType="VARCHAR" property="upDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PRDT_BASE
    where PRDT_ID = #{prdtId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uranus.platform.business.pub.entity.po.PrdtBaseData">
    <selectKey keyProperty="prdtId" order="BEFORE" resultType="java.lang.String">
      select PRDT_BASE_SEQ.NEXTVAL from dual
    </selectKey>
    insert into PRDT_BASE (PRDT_NO, BR_NO, BR_ACC_TYPE, 
      PRDT_NAME, BEG_DATE, END_DATE, 
      MIN_AMT, MAX_AMT, MIN_MON, 
      MAX_MON, MIN_RATE, MAX_RATE, 
      OP_NO, TX_DATE, UP_OPNO, 
      UP_DATE)
    values (#{prdtId,jdbcType=VARCHAR}, #{prdtNo,jdbcType=VARCHAR}, #{brNo,jdbcType=VARCHAR}, #{brAccType,jdbcType=VARCHAR}, 
      #{prdtName,jdbcType=VARCHAR}, #{begDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{minAmt,jdbcType=DECIMAL}, #{maxAmt,jdbcType=DECIMAL}, #{minMon,jdbcType=DECIMAL}, 
      #{maxMon,jdbcType=DECIMAL}, #{minRate,jdbcType=DECIMAL}, #{maxRate,jdbcType=DECIMAL}, 
      #{opNo,jdbcType=VARCHAR}, #{txDate,jdbcType=VARCHAR}, #{upOpno,jdbcType=VARCHAR}, 
      #{upDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.uranus.platform.business.pub.entity.po.PrdtBaseData">
    update PRDT_BASE
    set PRDT_NO = #{prdtNo,jdbcType=VARCHAR},
      BR_NO = #{brNo,jdbcType=VARCHAR},
      BR_ACC_TYPE = #{brAccType,jdbcType=VARCHAR},
      PRDT_NAME = #{prdtName,jdbcType=VARCHAR},
      BEG_DATE = #{begDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      MIN_AMT = #{minAmt,jdbcType=DECIMAL},
      MAX_AMT = #{maxAmt,jdbcType=DECIMAL},
      MIN_MON = #{minMon,jdbcType=DECIMAL},
      MAX_MON = #{maxMon,jdbcType=DECIMAL},
      MIN_RATE = #{minRate,jdbcType=DECIMAL},
      MAX_RATE = #{maxRate,jdbcType=DECIMAL},
      OP_NO = #{opNo,jdbcType=VARCHAR},
      TX_DATE = #{txDate,jdbcType=VARCHAR},
      UP_OPNO = #{upOpno,jdbcType=VARCHAR},
      UP_DATE = #{upDate,jdbcType=VARCHAR}
    where PRDT_ID = #{prdtId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select PRDT_ID, PRDT_NO, BR_NO, BR_ACC_TYPE, PRDT_NAME, BEG_DATE, END_DATE, MIN_AMT, 
    MAX_AMT, MIN_MON, MAX_MON, MIN_RATE, MAX_RATE, OP_NO, TX_DATE, UP_OPNO, UP_DATE
    from PRDT_BASE
    where PRDT_ID = #{prdtId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PRDT_ID, PRDT_NO, BR_NO, BR_ACC_TYPE, PRDT_NAME, BEG_DATE, END_DATE, MIN_AMT, 
    MAX_AMT, MIN_MON, MAX_MON, MIN_RATE, MAX_RATE, OP_NO, TX_DATE, UP_OPNO, UP_DATE
    from PRDT_BASE
  </select>
</mapper>