<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uranus.platform.business.admin.dao.SystemAdminMapper">
    <resultMap id="BaseResultMap" type="com.uranus.platform.business.admin.entity.model.SystemAdminData">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="regtime" jdbcType="BIGINT" property="regtime"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from system_admin
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.uranus.platform.business.admin.entity.model.SystemAdminData">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into system_admin (username, password, regtime,
        integral, status)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{regtime,jdbcType=BIGINT},
        #{integral,jdbcType=INTEGER}, #{status,jdbcType=CHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.uranus.platform.business.admin.entity.model.SystemAdminData">
        update system_admin
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            regtime  = #{regtime,jdbcType=BIGINT},
            integral = #{integral,jdbcType=INTEGER},
            status   = #{status,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, username, password, regtime, integral, status
        from system_admin
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, username, password, regtime, integral, status
        from system_admin
        where username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, username, password, regtime, integral, status
        from system_admin
    </select>

    <select id="selectByPage" resultMap="BaseResultMap">
        select id, username, password, regtime, integral, status
        from system_admin where 1 =1
            <if test="id !=null">and id=#{id}</if>
            <if test="username !=null">
                <bind name="username" value="'%'+username+'%'"/>
                and username like #{username}
            </if>
            <if test="password !=null">and password like concat('%',#{password},'%')</if>
            <if test="regtime !=null">and regtime=#{regtime}</if>
            <if test="integral !=null">and integral=#{integral}</if>
            <if test="status !=null">and status=#{status}</if>
    </select>
</mapper>